/* Tags */
a {
  text-decoration: none;
}
p {
  padding: 0 15px 5px 15px;
  color: #4b5243;
}
h2 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}
h3 {
  width: 650px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
}
address {
  font-style: normal;
}
article {
  margin-bottom: 60px;
}
section {
  position: relative;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  background: #fffff9;
}
header {
  min-height: 430px;
}
address {
  position: absolute;
  top: -20px;
  right: 50px;
  text-align: left;
}
address span {
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
  color: #729e0a;
}
address .phone {
  background: url('../img/phone-icon.png') no-repeat left center;
}
address .skype {
  background: url('../img/skype-icon.png') no-repeat left center;
}
address .email {
  background: url('../img/email-icon.png') no-repeat left center;
}
hgroup h3 {
  margin-top: 20px;
}
footer {
  min-height: 235px;
  padding-top: 60px;
}
footer aside {
  float: left;
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
}
footer .copyrights {
  display: block;
  margin-top: 15px;
  font-size: 11px;
}
footer .hodlogo {
  display: block;
  float: right;
  width: 96px;
  height: 59px;
  margin-right: 100px;
  margin-top: 100px;
  background: url('../img/hodlogo.png') no-repeat center center;
}
/* Classes, IDs */
.clear {
  clear: both;
}
.current,
.active {
  color: #659500;
}
.inner {
  width: 1140px;
  position: relative;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
}
.color-green h1,
.color-green h2,
.color-green h3,
.color-green h4,
.color-green h5,
.color-green h6 {
  color: #659500;
}
.color-blue h1,
.color-blue h2,
.color-blue h3,
.color-blue h4,
.color-blue h5,
.color-blue h6 {
  color: #659500;
}
.color-white h1,
.color-white h2,
.color-white h3,
.color-white h4,
.color-white h5,
.color-white h6,
.color-white p {
  color: #fffff9;
}
.green-rect {
  background: url('../img/green-rect.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.blue-rect {
  background: url('../img/blue-rect.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.call-btn.green-btn {
  display: block;
  width: 252px;
  height: 103px;
  position: absolute;
  background: url('../img/call-green-btn.png') no-repeat center center;
}
.call-btn.blue-btn {
  display: block;
  width: 230px;
  height: 125px;
  position: absolute;
  background: url('../img/call-blue-btn.png') no-repeat center center;
}
.more-btn.green-btn {
  display: block;
  width: 238px;
  height: 121px;
  margin: 25px auto 15px auto;
  background: url('../img/more-green-btn.png') no-repeat center center;
}
.more-btn.blue-btn {
  display: block;
  width: 226px;
  height: 112px;
  margin: 25px auto 15px auto;
  background: url('../img/more-blue-btn.png') no-repeat center center;
}
.green-btn:hover,
.blue-btn:hover {
  opacity: 0.9;
}
.divider {
  display: block;
  width: 110px;
  height: 22px;
  margin: 15px auto 20px auto;
  background: url('../img/green-divider.png') no-repeat center center;
}
.green-rect .divider,
.blue-rect .divider {
  background: url('../img/white-divider.png') no-repeat center center;
  margin: 10px auto;
}
section.green-rect,
section.blue-rect {
  padding: 80px 80px 70px 80px;
  width: 230px;
  height: 240px;
}
.logo {
  display: block;
  width: 70px;
  height: 90px;
  background: url('../img/logo.png') no-repeat center center;
}
#slider {
  width: 100%;
  height: 345px;
  position: relative;
  overflow: hidden;
  background: url('../img/slider-mask.png') no-repeat center bottom;
}
#slider .slide {
  margin: 0;
}
#slider .slide img {
  width: 1920px;
  height: auto;
}
#slider .slide-mask {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 195px;
  background: url('../img/slider-mask.png') no-repeat center bottom;
}
#slider .slide-links {
  position: absolute;
  top: 295px;
  left: 430px;
}
#slider .slide-links .slide-control {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.85);
  text-indent: -9999px;
  cursor: pointer;
}
#slider .slide-links .active {
  background: #9fb868;
}
#slider .slide-title {
  position: absolute;
  right: 0;
  top: 170px;
  width: 1010px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.77);
}
#slider .slide-title h2 {
  margin: 0;
  margin-left: 50px;
  font-weight: bold;
  font-size: 42px;
  color: #244c68;
}
.leftmenu ul li,
.rightmenu ul li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
.leftmenu ul li a,
.rightmenu ul li a {
  font-size: 15px;
  color: #205a98;
}
.leftmenu ul li a:hover,
.rightmenu ul li a:hover {
  color: #659500;
}
.leftmenu {
  position: absolute;
  top: 0;
  left: 270px;
}
.rightmenu {
  position: absolute;
  top: 0;
  left: 670px;
}
.logo {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -35px;
}
.first-block .call-btn {
  right: 0;
}
.second-block img {
  margin-bottom: 15px;
}
.second-block .call-btn {
  left: 130px;
}
.third-block {
  min-height: 760px;
}
.third-block section.green-rect {
  position: absolute;
  top: 0;
  left: 535px;
}
.third-block a:hover {
  opacity: 0.9;
}
.third-block .link {
  position: absolute;
  font-size: 15px;
  color: #659500;
}
.third-block .youtube {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 280px;
  left: 480px;
  display: block;
  background: url('../img/youtube-block.png') no-repeat center center;
}
.third-block .youtube-desc {
  top: 295px;
  left: 380px;
}
.third-block .ads {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 325px;
  left: 225px;
  display: block;
  background: url('../img/video-block.png') no-repeat center center;
}
.third-block .ads-desc {
  top: 500px;
  left: 100px;
}
.third-block .corp {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 435px;
  left: 375px;
  display: block;
  background: url('../img/corp-block.png') no-repeat center center;
}
.third-block .corp-desc {
  top: 625px;
  left: 245px;
}
.third-block .virus {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 455px;
  left: 610px;
  display: block;
  background: url('../img/vir-block.png') no-repeat center center;
}
.third-block .virus-desc {
  top: 665px;
  left: 545px;
}
.third-block .present {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 305px;
  left: 715px;
  display: block;
  background: url('../img/present-block.png') no-repeat center center;
}
.third-block .present-desc {
  top: 320px;
  left: 890px;
}
.third-block .animation {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 440px;
  left: 875px;
  display: block;
  background: url('../img/anim-block.png') no-repeat center center;
}
.third-block .animation-desc {
  top: 625px;
  left: 1060px;
}
.third-block .services-btn {
  display: block;
  top: 650px;
  left: 740px;
  width: 111px;
  height: 111px;
  background: url('../img/services-btn.png') no-repeat center center;
}
.third-block .call-btn {
  top: 355px;
  left: 980px;
}
.fourth-block section.green-rect {
  position: absolute;
  top: 0;
  left: 115px;
}
.fourth-block .prices p {
  margin-right: 200px;
  margin-top: 80px;
  float: right;
  color: #659500;
  text-align: left;
  line-height: 22px;
}
.fourth-block .call-btn {
  top: 350px;
  left: 800px;
}
.fifth-block {
  min-height: 780px;
}
.fifth-block section.blue-rect {
  position: absolute;
  top: 0;
  left: 800px;
}
.fifth-block .comments {
  min-height: 620px;
}
.fifth-block .cm-item {
  position: absolute;
  width: 390px;
  height: 160px;
  text-align: left;
}
.fifth-block .cm-item img {
  float: left;
  width: 142px;
  height: 142px;
  margin-right: 5px;
}
.fifth-block .cm-item a {
  font-size: 14px;
  color: #093a6a;
}
.fifth-block .cm-item a:hover {
  color: #659500;
}
.fifth-block .cm-item .textblock p {
  color: #093a6a;
  line-height: 14px;
}
.fifth-block .cm-1 {
  left: 30px;
  top: 125px;
}
.fifth-block .cm-2 {
  left: 420px;
  top: 200px;
}
.fifth-block .cm-3 {
  left: 60px;
  top: 375px;
}
.fifth-block .cm-4 {
  left: 500px;
  top: 445px;
}
.fifth-block .call-btn {
  top: 450px;
  left: 960px;
}
