/* Tags */

a {
	text-decoration: none;
}
p {
	padding: 0 15px 5px 15px;
	color: #4b5243;
}
h2 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}
h3 {
	width: 650px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: normal;
}
address {
	font-style: normal;
}
article {
	margin-bottom: 60px;
}
section {
	position: relative;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	background: #fffff9;
}
header {
	min-height: 430px;
}
address {
	position: absolute;
	top: -20px;
	right: 50px;
	text-align: left;

	span {
		display: block;
		padding-left: 20px;
		margin-bottom: 5px;
		color: #729e0a;
	}
	.phone {
		background: url('../img/phone-icon.png') no-repeat left center;
	}
	.skype {
		background: url('../img/skype-icon.png') no-repeat left center;
	}
	.email {
		background: url('../img/email-icon.png') no-repeat left center;
	}
}
hgroup {

	h3 {
		margin-top: 20px;
	}
}
footer {
	min-height: 235px;
	padding-top: 60px;

	aside {
		float: left;
		margin-left: 100px;
		margin-top: 100px;
		text-align: left;
	}
	.copyrights {
		display: block;
		margin-top: 15px;
		font-size: 11px;
	}
	.hodlogo {
		display: block;
		float: right;
		width: 96px;
		height: 59px;
		margin-right: 100px;
		margin-top: 100px;
		background: url('../img/hodlogo.png') no-repeat center center;
	}
}
/* Classes, IDs */

.clear {
	clear: both;
}
.current, .active {
	color: #659500;
}
.inner {
	width: 1140px;
	position: relative;
	padding: 0 50px;
	margin: 0 auto;
	text-align: center;
}
.color-green {
	h1, h2, h3, h4, h5, h6 {
		color: #659500;
	}
}
.color-blue {
	h1, h2, h3, h4, h5, h6 {
		color: #659500;
	}
}
.color-white {
	h1, h2, h3, h4, h5, h6, p {
		color: #fffff9;;
	}
}
.green-rect {
	background: url('../img/green-rect.png') no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.blue-rect {
	background: url('../img/blue-rect.png') no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.call-btn.green-btn {
	display: block;
	width: 252px;
	height: 103px;
	position: absolute;
	background: url('../img/call-green-btn.png') no-repeat center center;
}
.call-btn.blue-btn {
	display: block;
	width: 230px;
	height: 125px;
	position: absolute;
	background: url('../img/call-blue-btn.png') no-repeat center center;
}
.more-btn.green-btn {
	display: block;
	width: 238px;
	height: 121px;
	margin: 25px auto 15px auto;
	background: url('../img/more-green-btn.png') no-repeat center center;
}
.more-btn.blue-btn {
	display: block;
	width: 226px;
	height: 112px;
	margin: 25px auto 15px auto;
	background: url('../img/more-blue-btn.png') no-repeat center center;
}
.green-btn:hover, .blue-btn:hover {
	opacity: 0.9;
} 
.divider {
	display: block;
	width: 110px;
	height: 22px;
	margin: 15px auto 20px auto;
	background: url('../img/green-divider.png') no-repeat center center;
}
.green-rect, .blue-rect {

	.divider {
		background: url('../img/white-divider.png') no-repeat center center;
		margin: 10px auto;
	}
} 
section.green-rect, section.blue-rect {
	padding: 80px 80px 70px 80px;
	width: 230px;
	height: 240px;
}
.logo {
	display: block;
	width: 70px;
	height: 90px;
	background: url('../img/logo.png') no-repeat center center;
}
#slider {
	width: 100%;
	height: 345px;
	position: relative;
	overflow: hidden;
	background: url('../img/slider-mask.png') no-repeat center bottom;

	.slide {
		margin: 0;

		img {
			width: 1920px;
			height: auto;
		}
	}
	.slide-mask {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -960px;
		width: 1920px;
		height: 195px;
		background: url('../img/slider-mask.png') no-repeat center bottom;
	}
	.slide-links {
		position: absolute;
		top: 295px;
		left: 430px;

		.slide-control {
			display: inline-block;
			width: 15px;
			height: 15px;
			border: 1px solid #ccc;
			margin-right: 10px;
			background: rgba(255, 255, 255, 0.85);
			text-indent: -9999px;
			cursor: pointer;
		}
		.active {
			background: #9fb868;
		}
	}
	.slide-title {
		position: absolute;
		right: 0;
		top: 170px;
		width: 1010px;
		padding: 15px 0;
		background: rgba(255, 255, 255, 0.77);

		h2 {
			margin: 0;
			margin-left: 50px;
			font-weight: bold;
			font-size: 42px;
			color: #244c68;
		}
	}
}
.leftmenu, .rightmenu {

	ul {

		li {
			display: inline-block;
			margin-right: 15px;
			vertical-align: top;

			a {
				font-size: 15px;
				color: #205a98;
			}
			a:hover {
				color: #659500;
			}
		}
	}
}
.leftmenu {
	position: absolute;
	top: 0;
	left: 270px;
}
.rightmenu {
	position: absolute;
	top: 0;
	left: 670px;
}
.logo {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -35px;
}
.first-block {

	.call-btn {
		right: 0;
	}
}
.second-block {

	img {
		margin-bottom: 15px;
	}
	.call-btn {
		left: 130px;
	}
}
.third-block {
	min-height: 760px;

	section.green-rect {
		position: absolute;
		top: 0;
		left: 535px;
	}
	a:hover {
		opacity: 0.9;
	}
	.link {
		position: absolute;
		font-size: 15px;
		color: #659500;
	}
	.youtube {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 280px;
		left: 480px;
		display: block;
		background: url('../img/youtube-block.png') no-repeat center center;
	}
	.youtube-desc {
		top: 295px;
		left: 380px;
	}
	.ads {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 325px;
		left: 225px;
		display: block;
		background: url('../img/video-block.png') no-repeat center center;
	}
	.ads-desc {
		top: 500px;
		left: 100px;
	}
	.corp {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 435px;
		left: 375px;
		display: block;
		background: url('../img/corp-block.png') no-repeat center center;
	}
	.corp-desc {
		top: 625px;
		left: 245px;
	}
	.virus {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 455px;
		left: 610px;
		display: block;
		background: url('../img/vir-block.png') no-repeat center center;
	}
	.virus-desc {
		top: 665px;
		left: 545px;
	}
	.present {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 305px;
		left: 715px;
		display: block;
		background: url('../img/present-block.png') no-repeat center center;
	}
	.present-desc {
		top: 320px;
		left: 890px;
	}
	.animation {
		position: absolute;
		width: 240px;
		height: 240px;
		top: 440px;
		left: 875px;
		display: block;
		background: url('../img/anim-block.png') no-repeat center center;
	}
	.animation-desc {
		top: 625px;
		left: 1060px;
	}
	.services-btn {
		display: block;
		top: 650px;
		left: 740px;
		width: 111px;
		height: 111px;
		background: url('../img/services-btn.png') no-repeat center center;

	}
	.call-btn {
		top: 355px;
		left: 980px;
	}
}
.fourth-block {

	section.green-rect {
		position: absolute;
		top: 0;
		left: 115px;
	}
	.prices {

		p {
			margin-right: 200px;
			margin-top: 80px;
			float: right;
			color: #659500;
			text-align: left;
			line-height: 22px;
		}
	}
	.call-btn {
		top: 350px;
		left: 800px;
	}	
}
.fifth-block {
	min-height: 780px;

	section.blue-rect {
		position: absolute;
		top: 0;
		left: 800px;
	}
	.comments {
		min-height: 620px;
	}
	.cm-item {
		position: absolute;
		width: 390px;
		height: 160px;
		text-align: left;

		img {
			float: left;
			width: 142px;
			height: 142px;
			margin-right: 5px;
		}
		a {
			font-size: 14px;
			color: #093a6a;
		}
		a:hover {
			color: #659500;
		}
		.textblock {

			p {
				color: #093a6a;
				line-height: 14px;
			}
		}
	}
	.cm-1 {
		left: 30px;
		top: 125px;
	}
	.cm-2 {
		left: 420px;
		top: 200px;
	}
	.cm-3 {
		left: 60px;
		top: 375px;
	}
	.cm-4 {
		left: 500px;
		top: 445px;
	}
	.call-btn {
		top: 450px;
		left: 960px;
	}
}